init:
  - git config --global core.autocrlf false
environment:
  matrix:
  - nodejs_version: "8"

install:
  - set PATH=C:\Ruby22\bin;%PATH%
  - ps: Install-Product node $env:nodejs_version
  - gem install sass
  - gem install scss_lint
  - npm install -g npm
  - npm install
test_script:
  - npm run prod
  - npm run test
  - npm run workbox
build: off
matrix:
  fast_finish: true
