{
	"globals": {
		"PRODUCTION": true,
		"describe": true,
		"it": true,
		"expect": true,
		"beforeEach": true,
		"jasmine": true,
		"afterEach": true,
		"spyOn": true
	},
	"plugins": [
		"react"
	],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"rules": {
		"no-const-assign": "warn",
		"no-this-before-super": "warn",
		"no-undef": "warn",
		"no-unreachable": "warn",
		"no-unused-vars": "warn",
		"constructor-super": "warn",
		"valid-typeof": "warn",
		"eqeqeq": 1,
		"no-console": 0,
		"curly": 1,
		"quotes": [
			1,
			"single"
		]
	}
}
