@import 'fonts.scss';

body {
    background-color: #3858c5;
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'rounded_eleganceregular';
}

* {
    box-sizing: border-box;
}

button {
    font-family: inherit;
}

.home {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);

    &__content {
        border-radius: 4px;
        box-shadow: 0 6px 17px 0 rgba(0, 0, 0, .21);
        height: 580px;
        margin: 0 auto;
        overflow: hidden;
        width: 360px;
    }
}

.calc {
    display: flex;
    flex-direction: column;
    height: inherit;

    &__header {
        align-content: space-between;
        align-items: flex-end;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-basis: 38%;
        flex-wrap: wrap;
        padding: 10px;
    }

    &__body {
        align-content: flex-start;
        background-color: rgba(51, 51, 51, 1);
        display: flex;
        flex-basis: 77%;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.button {
    background-color: rgba(31, 37, 37, 1);
    border-bottom: 1px solid rgba(255, 255, 255, .04);
    border-left: 0;
    border-right: 1px solid rgba(255, 255, 255, .04);
    border-top: 0;
    box-shadow: inset -1px -1px 0 0 rgba(0, 0, 0, .3);
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    height: 20%;
    outline: none;
    width: 25%;

    &_primaryOperator {
        background-color: rgb(232, 46, 100);
        border-right: 0;
        box-shadow: inset 0 -1px 0 0 #c52150;
    }

    &_runOperator {
        background-color: #0f1;
        border-bottom: 0;
        border-right: 0;
        box-shadow: 1px 6px 20px 5px rgba(0, 0, 0, .3);
        color: #333;
        font-weight: bold;
    }

    &:active {
        box-shadow: inset 0 -3px 8px 0 rgba(0, 0, 0, .3);
        padding-top: 3px;
    }

    &_runOperator:active,
    &_runOperator.active {
        box-shadow: inset 1px 5px 9px 0 rgba(0, 0, 0, .37);
    }
}

.active {
    box-shadow: inset 0 -3px 8px 0 rgba(0, 0, 0, .3);
    padding-top: 3px;
}

.button:nth-child(17),
.button:nth-child(18),
.button:nth-child(19) {
    border-bottom: 0;
    box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, .3);

    &:active,
    &.active {
        box-shadow: inset 0 3px 8px 0 rgba(0, 0, 0, .3);
        padding-top: 3px;
    }
}

.history {
    font-size: 1.1rem;
    margin: 0;
    opacity: .6;
    text-align: right;
    width: 100%;
}

.result {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
}

.soundIcon {
    cursor: pointer;
    fill: #1f2525;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 7%;
    z-index: 1;

    &__wave {
        opacity: 1;
    }

    &__stripe {
        opacity: 0;
    }

    &--muted {
        .soundIcon__wave {
            opacity: 0;
        }

        .soundIcon__stripe {
            opacity: 1;
        }
    }
}

@import 'app-viewport-mobile.scss';
