.button {
    background-color: rgba(31, 37, 37, 1);
    border-bottom: 1px solid rgba(255, 255, 255, .04);
    border-left: 0;
    border-right: 1px solid rgba(255, 255, 255, .04);
    border-top: 0;
    box-shadow: inset -1px -1px 0 0 rgba(0, 0, 0, .3);
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    height: 20%;
    outline: none;
    width: 25%;

    &_primaryOperator {
        background-color: rgb(232, 46, 100);
        border-right: 0;
        box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, .13);
    }

    &_runOperator {
        background-color: #0f1;
        border-bottom: 0;
        border-right: 0;
        box-shadow: 1px 6px 20px 5px rgba(0, 0, 0, .3);
        color: #333;
        font-weight: bold;
    }

    &:active {
        box-shadow: inset 0 -3px 8px 0 rgba(0, 0, 0, .3);
        padding-top: 3px;
    }

    &_runOperator:active,
    &_runOperator.active {
        box-shadow: inset 1px 5px 9px 0 rgba(0, 0, 0, .37);
    }
}

.active {
    box-shadow: inset 0 -3px 8px 0 rgba(0, 0, 0, .3);
    padding-top: 3px;
}

.button:nth-child(17),
.button:nth-child(18),
.button:nth-child(19) {
    border-bottom: 0;
    box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, .3);

    &:active,
    &.active {
        box-shadow: inset 0 3px 8px 0 rgba(0, 0, 0, .3);
        padding-top: 3px;
    }
}
