.calculator {
    display: flex;
    flex-direction: column;
    height: inherit;

    &__header {
        align-content: space-between;
        align-items: flex-end;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-basis: 38%;
        flex-wrap: wrap;
        padding: 10px;
    }

    &__body {
        align-content: flex-start;
        background-color: rgba(51, 51, 51, 1);
        display: flex;
        flex-basis: 77%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__history {
        font-size: 1.1rem;
        margin: 0;
        opacity: .6;
        overflow-x: hidden;
        position: relative;
        right: -12%;
        text-align: right;
        width: 89%;
    }

    &__result {
        font-size: 2.5rem;
        margin: 0;
        overflow-x: hidden;
        padding: 0;
        text-align: right;
        width: 100%;
    }
}
